@charset "utf-8";
/* CSS Document */

.adc-target { position:relative; }


.adc-target .responseItem { 
	float:left; display:block; 
	padding:5px;
	margin:10px;
	
	box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	
	position:relative; z-index:1; cursor:pointer; 
}
.adc-target img {
	box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	image-rendering: auto;	
}

.adc-target .response_text { 
	display:block; text-align:center; padding-bottom:10px; 
	box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;  
}

.adc-target .responseActive { z-index:10001 !important; }

.adc-target .startArea { 
	display:block; width:400px; 
	box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
}

.adc-target .clear { clear:both; }
