<?xml version="1.0" encoding="utf-8"?>
<control  xmlns="http://www.askia.com/2.1.0/ADCSchema"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.askia.com/2.1.0/ADCSchema https://raw.githubusercontent.com/AskiaADX/ADXSchema/2.1.0/ADCSchema.xsd"
          version="2.1.0"
          askiaCompat="5.4.2">
  <info>
    <name>Target</name>
    <guid>bd97fa6e-e96f-4a14-8ec8-45ec8184248d</guid>
    <version>3.0.0</version>
    <date>2016-03-18</date>
    <description><![CDATA[v1.0.0 - still need to look into full height and fallback
	   v1.0.1 - Fixed mobile resize scroll problem
			  - Fixed centering of cards on drag
		v2.0.0 - Theme implementation
		v2.0.2 - Added alt attribute to img
			   - Created routing for web accessibility (enhanced)]]></description>
    <company>Askia</company>
    <author><![CDATA[Paul Ferreira <paulf@askia.com>]]></author>
    <site>http://www.askia.com</site>
    <helpURL></helpURL>
    <categories>
      <category>General</category>
    </categories>
    <constraints>
      <constraint on="questions" single="false" multiple="false" numeric="true" date="false" open="false" chapter="false" requireParentLoop="true" RequireLoopDepth="1" />
      <constraint on="controls" responseblock="true" label="false" listbox="false" radiobutton="false" textbox="false" checkbox="false" />
      <constraint on="responses" max="*" min="*" />
    </constraints>
  </info>
  <outputs defaultOutput="fallback">
    <output id="fallback" ManageLoopDepth="1">
      <description><![CDATA[Fallback when the browser doesnt support Javascript]]></description>
      <condition><![CDATA[Not(Browser.Support("javascript"))]]></condition>
      <content fileName="default.css" type="css" mode="static" position="head" />
      <content fileName="default.html" type="html" mode="dynamic" position="placeholder" />
    </output>
    <output id="standard" ManageLoopDepth="1">
      <description><![CDATA[Output when the browser support Javascript]]></description>
      <condition><![CDATA[(Browser.Support("javascript") and Browser.Support("borderradius"))]]></condition>
      <content fileName="standard.css" type="css" mode="dynamic" position="head" />
      <content fileName="standard.html" type="html" mode="dynamic" position="placeholder" />
      <content fileName="numeric.html" type="html" mode="dynamic" position="none" />
      <content fileName="meta.html" type="html" mode="dynamic" position="head" />
      <content fileName="jquery-1.12.2.min.js" type="javascript" mode="share" position="head" />
      <content fileName="jquery-ui.min.js" type="javascript" mode="share" position="head" />
      <content fileName="jquery.ui.touch-punch.min.js" type="javascript" mode="share" position="head" />
      <content fileName="jquery.transit.min.js" type="javascript" mode="share" position="head" />
      <content fileName="target.js" type="javascript" mode="static" position="head" />
      <content fileName="standard.js" type="javascript" mode="dynamic" position="foot" />
      <content fileName="es5-shim.min.js" type="javascript" mode="share" position="head">
        <yield><![CDATA[
          
          <!--[if lt IE 10]>
            <script type="text/javascript" src="{%= CurrentADC.URLTo("share/es5-shim.min.js") %}"></script>
          <![endif]-->
          
        ]]></yield>
      </content>
      <content fileName="target.css" type="css" mode="static" position="head" />
      <content fileName="standard_numeric.js" type="javascript" mode="dynamic" position="none" />
    </output>
  </outputs>
  <properties>
    <category id="general" name="General">
      <property xsi:type="standardProperty" id="stackResponses" name="Stack Responses" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Whether the resonses are in a single stack]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="autoStackWidth" name="Automatic Stacking Width" type="number" mode="static" require="true" visible="true">
        <description><![CDATA[When set will turn on Stack Responses when the screen is below a certain width]]></description>
        <value><![CDATA[400px]]></value>
      </property>
      <property xsi:type="standardProperty" id="selectNextResponse" name="Automatically Select Next Response" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Whether to automatically select the next response]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="fontSize" name="Font Size" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The font size for the control]]></description>
        <value><![CDATA[{%= Theme.NormalFS %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="controlWidth" name="Control Width" type="string" mode="static">
        <description><![CDATA[
          The width of the control
        ]]></description>
        <value><![CDATA[100%]]></value>
      </property>
      <property xsi:type="standardProperty" id="maxWidth" name="Max Width" type="number" mode="static">
        <description><![CDATA[
          The maximum width of the control
        ]]></description>
        <value><![CDATA[100%]]></value>
      </property>
      <property xsi:type="standardProperty" id="controlAlign" name="Control Alignment" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[The alignment of the control]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="animationSpeed" name="Animation Speed" type="string" mode="static">
        <description><![CDATA[
          Speed of the animation
        ]]></description>
        <value><![CDATA[fast]]></value>
        <options>
          <option value="very fast" text="Very Fast" />
          <option value="fast" text="Fast" />
          <option value="medium" text="Medium" />
          <option value="slow" text="Slow" />
        </options>
      </property>
    </category>
    <category id="alignment" name="Alignment">
      <property xsi:type="standardProperty" id="responseTextAlign" name="Response Text Alignment" type="string" mode="static">
        <description><![CDATA[
          The alignment of the text in the responses
        ]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseImageAlignment" name="Response Image Alignment" type="string" mode="static">
        <description><![CDATA[
          Set position for response content
        ]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="none" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseAlign" name="Response Alignment" type="string" mode="static">
        <description><![CDATA[
          Set alignment of responses
        ]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
    </category>
    <category id="responseLayout" name="Response Layout">
      <property xsi:type="standardProperty" id="responseTextPosition" name="Response Text Position" type="string" mode="static">
        <description><![CDATA[
          Set position for text in responses in relation to images
        ]]></description>
        <value><![CDATA[bottom]]></value>
        <options>
          <option value="top" text="Top" />
          <option value="left" text="Left" />
          <option value="bottom" text="Bottom" />
          <option value="right" text="Right" />
        </options>
      </property>
    </category>
    <category id="responses" name="Responses Styling">
      <property xsi:type="standardProperty" id="responseWidth" name="Response Width" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[When set this will force the width of the reponses]]></description>
        <value><![CDATA[135px]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseHeight" name="Response Height" type="string" mode="static">
        <description><![CDATA[
          When set this will force the height of the reponses
        ]]></description>
        <value><![CDATA[auto]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseMargin" name="Response Margin" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[When set this will set the margin around the responses]]></description>
        <value><![CDATA[0.5em]]></value>
      </property>
      <property xsi:type="standardProperty" id="responsePadding" name="Response Padding" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[When set this will set the padding for the responses]]></description>
        <value><![CDATA[0.5em]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseTextPadding" name="Response Text Padding" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[When set this will set the padding for the response text]]></description>
        <value><![CDATA[0.5em]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseImagePadding" name="Response Image Padding" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[When set this will set the padding for the response images]]></description>
        <value><![CDATA[0.5em]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseTextLineHeight" name="Response Text Line Height" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[When set this will force the height of the reponses]]></description>
        <value><![CDATA[{%= Theme.LineHeight %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="displayResponseText" name="Display Response Text" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[Display response text]]></description>
        <value><![CDATA[block]]></value>
        <options>
          <option value="block" text="Yes" />
          <option value="none" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseColourPrimary" name="Response Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Background colour of the item]]></description>
        <value><![CDATA[{%= Theme.NeutralLightColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="fontColour" name="Response Font Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Font colour]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderColour" name="Response Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border colour]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderRadius" name="Border Radius" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The amount of curve on the response corners]]></description>
        <value><![CDATA[{%= Theme.BorderRadius %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderThickness" name="Response Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the responses]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderStyle" name="Response Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The style of the border around the responses]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseShadow" name="Response Drop Shadow" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The visibility of a dropshadow under the responses]]></description>
        <value><![CDATA[none]]></value>
        <options>
          <option value="0px 2px 4px rgba(0,0,0,.2)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showResponseHoverColour" name="Show Response Hover Colour" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[This will change the colour of responses when hovered over]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseHoverColourPrimary" name="Response Hover Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Background colour of the response when hovering]]></description>
        <value><![CDATA[{%= Theme.WhiteColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="showResponseHoverFontColour" name="Show Response Hover Font Colour" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[This will change the colour of the text of responses when hovered over]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseHoverFontColour" name="Response Hover Font Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Font colour for responses when hovering]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="showResponseHoverBorder" name="Show Response Hover Border" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[This will change the colour of the border of responses when hovered over]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseHoverBorderColour" name="Response Hover Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border colour for responses when hovering]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseHoverBorderThickness" name="Response Hover Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the responses when hovering]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseHoverBorderStyle" name="Response Hover Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The style of the border around the responses when hovering]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseHoverShadow" name="Response Hover Drop Shadow" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The visibility of a dropshadow under the responses when hovering]]></description>
        <value><![CDATA[0px 2px 4px rgba(0,0,0,.2)]]></value>
        <options>
          <option value="0px 2px 4px rgba(0,0,0,.2)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedColourPrimary" name="Selected Response Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Background colour of the selected item]]></description>
        <value><![CDATA[{%= Theme.NeutralColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedFontColour" name="Selected Response Font Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Font colour for selected responses]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedBorderColour" name="Selected Response Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border colour for selected responses]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedBorderThickness" name="Selected Response Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the selected responses]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedBorderStyle" name="Selected Response Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The style of the border around the selected responses]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedShadow" name="Selected Response Drop Shadow" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The visibility of a dropshadow under the selected responses]]></description>
        <value><![CDATA[none]]></value>
        <options>
          <option value="0px 2px 4px rgba(0,0,0,.2)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
    </category>
    <category id="images" name="Images">
      <property xsi:type="standardProperty" id="autoImageSize" name="Force image to fit" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[If response height or width is forced then image will be resized to fit within container. If on this will override image resizeing rules]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="maxImageWidth" name="Max Image Width" type="number" mode="static">
        <description><![CDATA[
          Set max image width
        ]]></description>
        <value><![CDATA[100px]]></value>
      </property>
      <property xsi:type="standardProperty" id="maxImageHeight" name="Max Image Height" type="number" mode="static">
        <description><![CDATA[
          Set max image height
        ]]></description>
        <value><![CDATA[100px]]></value>
      </property>
      <property xsi:type="standardProperty" id="forceImageSize" name="Force image size" type="string" mode="static">
        <description><![CDATA[
          Force height or width for all images
        ]]></description>
        <value><![CDATA[width]]></value>
        <options>
          <option value="no" text="No" />
          <option value="width" text="Force width" />
          <option value="height" text="Force height" />
          <option value="both" text="Force both" />
        </options>
      </property>
    </category>
    <category id="target" name="Target area">
      <property xsi:type="standardProperty" id="maxValueAtCenter" name="Max value at center" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Determines if max value is center circle or outer circle.]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showCircleValues" name="Show Circle Values" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Determines if circle values are shown.]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="useAltCircle" name="Use alt circle colour" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[If response height or width is forced then image will be resized to fit within container. If on this will override image resizeing rules]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="circleColour" name="Circle background colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Primary colour of the selected item]]></description>
        <value><![CDATA[{%= Theme.SecondaryColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="circleBorderColour" name="Circle Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border colour for selected responses]]></description>
        <value><![CDATA[{%= Theme.SecondaryDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="altCircleColour" name="Alt circle background colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Secondary colour of the selected item]]></description>
        <value><![CDATA[{%= Theme.WhiteColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="altCircleBorderColour" name="Alt Circle Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border colour for selected responses]]></description>
        <value><![CDATA[{%= Theme.WhiteColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="circleHoverColour" name="Target Hover Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border colour for selected responses]]></description>
        <value><![CDATA[{%= Theme.NeutralColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="circleBorderWidth" name="Circle border thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Circle border thickness]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="innerCircleWidth" name="Inner Circle Width" type="number" mode="static" require="false" visible="true">
        <description><![CDATA[The width of the center circle CHECK OR SET]]></description>
        <value><![CDATA[100]]></value>
      </property>
      <property xsi:type="standardProperty" id="innerCircleColour" name="Inner Circle Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border colour for selected responses]]></description>
        <value><![CDATA[{%= Theme.SecondaryColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="innerCircleText" name="Inner Circle Text" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[Inner Circle Text]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="innerCircleTextColour" name="Inner Circle Text Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Inner circle text colour]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="innerCircleImage" name="Inner Circle Image" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[This sets the width of the target area]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="innerCircleImageWidth" name="Inner Circle Image Width" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[This sets the width of the target area]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="innerCircleImageHeight" name="Inner Circle Image Height" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[This sets the width of the target area]]></description>
        <value></value>
      </property>
    </category>
    <category id="layout" name="Layout">
      <property xsi:type="standardProperty" id="targetHorizontalPosition" name="Target horizontal position" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[The amount of curve on the response corners]]></description>
        <value><![CDATA[right]]></value>
        <options>
          <option value="left" text="left" />
          <option value="right" text="right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="targetVerticalPosition" name="Target vertical position" type="string" mode="static">
        <description><![CDATA[
          The amount of curve on the response corners
        ]]></description>
        <value><![CDATA[bottom]]></value>
        <options>
          <option value="top" text="top" />
          <option value="bottom" text="bottom" />
        </options>
      </property>
    </category>
    <category id="fallback" name="Fallback">
      <property xsi:type="standardProperty" id="useList" name="Use a selection list" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Use a select list to enumerate all available responses.
          This option works with closed and numeric questions.
          For numeric question, the range between bounds should be inferior than 20. It take in account the step option.]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="imageAlign" name="Image Alignment" type="string" mode="static">
        <description><![CDATA[
          The alignment of the text in the responses
        ]]></description>
        <value><![CDATA[right]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
    </category>
  </properties>
</control>