<?xml version="1.0" encoding="utf-8"?>
<control  xmlns="http://www.askia.com/ADCSchema"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.askia.com/ADCSchema http://www.askia.com/Downloads/dev/schemas/adc2.0/Config.xsd"
          version="2.0.0"
          askiaCompat="5.3.3">
  <info>
    <name>adc2-target</name>
    <guid>bd97fa6e-e96f-4a14-8ec8-45ec8184248d</guid>
    <version>1.0.0</version>
    <date>2016-03-18</date>
    <description><![CDATA[]]></description>
    <company>Askia</company>
    <author><![CDATA[Paul Ferreira <paulf@askia.com>]]></author>
    <site>http://www.askia.com</site>
    <helpURL></helpURL>
    <categories>
      <category>General</category>
    </categories>
    <style width="400" height="300" />
    <constraints>
      <constraint on="questions" single="false" multiple="false" numeric="true" date="false" open="false" chapter="false" requireParentLoop="true" />
      <constraint on="controls" responseblock="true" label="false" listbox="false" radiobutton="false" textbox="false" />
      <constraint on="responses" max="*" min="*" />
    </constraints>
  </info>
  <outputs defaultOutput="default">
    <output id="default">
      <description><![CDATA[Output when the browser support Javascript]]></description>
      <condition><![CDATA[Browser.Support("javascript")]]></condition>
      <content fileName="standard.css" type="css" mode="dynamic" position="head" />
      <content fileName="default.html" type="html" mode="dynamic" position="head" />
      <content fileName="numeric.html" type="html" mode="dynamic" position="none" />
      <content fileName="meta.html" type="html" mode="dynamic" position="head" />
      <content fileName="jquery-1.12.2.min.js" type="javascript" mode="share" position="head" />
      <content fileName="jquery-ui.min.js" type="javascript" mode="share" position="head" />
      <content fileName="jquery.ui.touch-punch.min.js" type="javascript" mode="share" position="head" />
      <content fileName="jquery.transit.min.js" type="javascript" mode="share" position="head" />
      <content fileName="target.js" type="javascript" mode="static" position="head" />
      <content fileName="standard.js" type="javascript" mode="dynamic" position="foot" />
      <content fileName="es5-shim.min.js" type="javascript" mode="share" position="head">
        <yield><![CDATA[
          
          <!--[if lt IE 10]>
            <script type="text/javascript" src="{%= CurrentADC.URLTo("share/es5-shim.min.js") %}"></script>
          <![endif]-->
          
        ]]></yield>
      </content>
      <content fileName="target.css" type="css" mode="static" position="head" />
      <content fileName="standard_numeric.js" type="javascript" mode="dynamic" position="none" />
    </output>
  </outputs>
  <properties>
    <category id="general" name="General">
      <property xsi:type="standardProperty" id="placeholder" name="Placeholder" type="string" mode="dynamic">
        <description><![CDATA[Using HTML 5, in modern browser. Helper text shows in the input when it is empty.]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="useList" name="Use a selection list" type="boolean" mode="static" require="false" visible="true">
        <description><![CDATA[Use a select list to enumerate all available responses.
          This option works with closed and numeric questions.
          For numeric question, the range between bounds should be inferior than 20. It take in account the step option.]]></description>
        <value><![CDATA[false]]></value>
      </property>
      <property xsi:type="standardProperty" id="stackResponses" name="Stack Responses" type="boolean" mode="static" require="true" visible="true">
        <description><![CDATA[Whether the resonses are in a single stack]]></description>
        <value><![CDATA[false]]></value>
      </property>
      <property xsi:type="standardProperty" id="autoStackWidth" name="Automatic Stacking Width" type="number" mode="static" require="true" visible="true">
        <description><![CDATA[When set will turn on Stack Responses when the screen is below a certain width]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="selectNextResponse" name="Automatically Select Next Response" type="boolean" mode="static">
        <description><![CDATA[
          Whether to automatically select the next response
        ]]></description>
        <value><![CDATA[false]]></value>
      </property>
      <property xsi:type="standardProperty" id="fontSize" name="Font Size" type="string" mode="static">
        <description><![CDATA[
          The font size for the control
        ]]></description>
        <value><![CDATA[14px]]></value>
      </property>
      <property xsi:type="standardProperty" id="controlWidth" name="Control Width" type="string" mode="static">
        <description><![CDATA[
          The width of the control
        ]]></description>
        <value><![CDATA[100%]]></value>
      </property>
      <property xsi:type="standardProperty" id="maxWidth" name="Max Width" type="number" mode="static">
        <description><![CDATA[
          The maximum width of the control
        ]]></description>
        <value><![CDATA[100%]]></value>
      </property>
      <property xsi:type="standardProperty" id="controlAlign" name="Control Alignment" type="string" mode="static">
        <description><![CDATA[
          The alignment of the control
        ]]></description>
        <value><![CDATA[left]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="animationSpeed" name="Animation Speed" type="string" mode="static">
        <description><![CDATA[
          Speed of the animation
        ]]></description>
        <value><![CDATA[fast]]></value>
        <options>
          <option value="very fast" text="Very Fast" />
          <option value="fast" text="Fast" />
          <option value="medium" text="Medium" />
          <option value="slow" text="Slow" />
        </options>
      </property>
    </category>
    <category id="alignment" name="Alignment">
      <property xsi:type="standardProperty" id="responseTextAlign" name="Response Text Alignment" type="string" mode="static">
        <description><![CDATA[
          The alignment of the text in the responses
        ]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseImageAlignment" name="Response Image Alignment" type="string" mode="static">
        <description><![CDATA[
          Set position for response content
        ]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="none" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseAlign" name="Response Alignment" type="string" mode="static">
        <description><![CDATA[
          Set alignment of responses
        ]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
    </category>
    <category id="responseLayout" name="Response Layout">
      <property xsi:type="standardProperty" id="responseTextPosition" name="Response Text Position" type="string" mode="static">
        <description><![CDATA[
          Set position for text in responses in relation to images
        ]]></description>
        <value><![CDATA[bottom]]></value>
        <options>
          <option value="top" text="Top" />
          <option value="left" text="Left" />
          <option value="bottom" text="Bottom" />
          <option value="right" text="Right" />
        </options>
      </property>
    </category>
    <category id="responses" name="Responses Styling">
      <property xsi:type="standardProperty" id="responseWidth" name="Response Width" type="string" mode="static">
        <description><![CDATA[
          When set this will force the width of the reponses
        ]]></description>
        <value><![CDATA[auto]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseHeight" name="Response Height" type="string" mode="static">
        <description><![CDATA[
          When set this will force the height of the reponses
        ]]></description>
        <value><![CDATA[auto]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseMargin" name="Response Margin" type="string" mode="static">
        <description><![CDATA[
          When set this will set the margin around the responses
        ]]></description>
        <value><![CDATA[10px]]></value>
      </property>
      <property xsi:type="standardProperty" id="responsePadding" name="Response Padding" type="string" mode="static">
        <description><![CDATA[
          When set this will set the padding for the responses
        ]]></description>
        <value><![CDATA[10px]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseTextPadding" name="Response Text Padding" type="string" mode="static">
        <description><![CDATA[
          When set this will set the padding for the response text
        ]]></description>
        <value><![CDATA[10px]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseImagePadding" name="Response Image Padding" type="string" mode="static">
        <description><![CDATA[
          When set this will set the padding for the response images
        ]]></description>
        <value><![CDATA[10px]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseTextLineHeight" name="Response Text Line Height" type="string" mode="static">
        <description><![CDATA[
          When set this will force the height of the reponses
        ]]></description>
        <value><![CDATA[100%]]></value>
      </property>
      <property xsi:type="standardProperty" id="displayResponseText" name="Display Response Text" type="string" mode="static">
        <description><![CDATA[
          Display response text
        ]]></description>
        <value><![CDATA[block]]></value>
        <options>
          <option value="block" text="Yes" />
          <option value="none" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseColourPrimary" name="Response Colour Primary" type="color" mode="static">
        <description><![CDATA[
          Primary colour of the item
        ]]></description>
        <value><![CDATA[247,247,247]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseColourSecondary" name="Response Colour Secondary" type="color" mode="static">
        <description><![CDATA[
          Secondary colour of the item
        ]]></description>
        <value><![CDATA[247,247,247]]></value>
      </property>
      <property xsi:type="standardProperty" id="fontColour" name="Response Font Colour" type="color" mode="static">
        <description><![CDATA[
          Font colour
        ]]></description>
        <value><![CDATA[68,68,68]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderColour" name="Response Border Colour" type="color" mode="static">
        <description><![CDATA[
          Border colour
        ]]></description>
        <value><![CDATA[161,167,173]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderRadius" name="Border Radius" type="string" mode="static">
        <description><![CDATA[
          The amount of curve on the response corners
        ]]></description>
        <value><![CDATA[2px]]></value>
        <options>
          <option value="0px" text="0" />
          <option value="2px" text="2" />
          <option value="5px" text="5" />
          <option value="10px" text="10" />
          <option value="15px" text="15" />
          <option value="20px" text="20" />
          <option value="25px" text="25" />
          <option value="30px" text="30" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="borderThickness" name="Response Border Thickness" type="string" mode="static">
        <description><![CDATA[
          The thickness of the border around the responses
        ]]></description>
        <value><![CDATA[1px]]></value>
        <options>
          <option value="none" text="None" />
          <option value="1px" text="1px" />
          <option value="2px" text="2px" />
          <option value="3px" text="3px" />
          <option value="4px" text="4px" />
          <option value="5px" text="5px" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="borderStyle" name="Response Border Style" type="string" mode="static">
        <description><![CDATA[
          The style of the border around the responses
        ]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseShadow" name="Response Drop Shadow" type="string" mode="static">
        <description><![CDATA[
          The visibility of a dropshadow under the responses
        ]]></description>
        <value><![CDATA[none]]></value>
        <options>
          <option value="0 2px 3px 0 rgba(0,0,0,0.75)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showResponseHoverColour" name="Show Response Hover Colour" type="boolean" mode="static">
        <description><![CDATA[
          This will change the colour of responses when hovered over
        ]]></description>
        <value><![CDATA[1]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseHoverColourPrimary" name="Response Hover Colour Primary" type="color" mode="static">
        <description><![CDATA[
          Primary colour of the response when hovering
        ]]></description>
        <value><![CDATA[255,255,255]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseHoverColourSecondary" name="Response Hover Colour Secondary" type="color" mode="static">
        <description><![CDATA[
          Secondary colour of the response when hovering
        ]]></description>
        <value><![CDATA[255,255,255]]></value>
      </property>
      <property xsi:type="standardProperty" id="showResponseHoverFontColour" name="Show Response Hover Font Colour" type="boolean" mode="static">
        <description><![CDATA[
          This will change the colour of the text of responses when hovered over
        ]]></description>
        <value><![CDATA[1]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseHoverFontColour" name="Response Hover Font Colour" type="color" mode="static">
        <description><![CDATA[
          Font colour for responses when hovering
        ]]></description>
        <value><![CDATA[68,68,68]]></value>
      </property>
      <property xsi:type="standardProperty" id="showResponseHoverBorder" name="Show Response Hover Border" type="boolean" mode="static">
        <description><![CDATA[
          This will change the colour of the border of responses when hovered over
        ]]></description>
        <value><![CDATA[false]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseHoverBorderColour" name="Response Hover Border Colour" type="color" mode="static">
        <description><![CDATA[
          Border colour for responses when hovering
        ]]></description>
        <value><![CDATA[000,000,000]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseHoverBorderThickness" name="Response Hover Border Thickness" type="string" mode="static">
        <description><![CDATA[
          The thickness of the border around the responses when hovering
        ]]></description>
        <value><![CDATA[1px]]></value>
        <options>
          <option value="none" text="None" />
          <option value="1px" text="1px" />
          <option value="2px" text="2px" />
          <option value="3px" text="3px" />
          <option value="4px" text="4px" />
          <option value="5px" text="5px" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseHoverBorderStyle" name="Response Hover Border Style" type="string" mode="static">
        <description><![CDATA[
          The style of the border around the responses when hovering
        ]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseHoverShadow" name="Response Hover Drop Shadow" type="string" mode="static">
        <description><![CDATA[
          The visibility of a dropshadow under the responses when hovering
        ]]></description>
        <value><![CDATA[none]]></value>
        <options>
          <option value="0px 2px 3px 0px rgba(0,0,0,0.75)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedColourPrimary" name="Selected Response Colour Primary" type="color" mode="static">
        <description><![CDATA[
          Primary colour of the selected item
        ]]></description>
        <value><![CDATA[0,147,234]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedColourSecondary" name="Selected Response Colour Secondary" type="color" mode="static">
        <description><![CDATA[
          Secondary colour of the selected item
        ]]></description>
        <value><![CDATA[0,124,196]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedFontColour" name="Selected Response Font Colour" type="color" mode="static">
        <description><![CDATA[
          Font colour for selected responses
        ]]></description>
        <value><![CDATA[255,255,255]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedBorderColour" name="Selected Response Border Colour" type="color" mode="static">
        <description><![CDATA[
          Border colour for selected responses
        ]]></description>
        <value><![CDATA[161,167,173]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedBorderThickness" name="Selected Response Border Thickness" type="string" mode="static">
        <description><![CDATA[
          The thickness of the border around the selected responses
        ]]></description>
        <value><![CDATA[1px]]></value>
        <options>
          <option value="none" text="None" />
          <option value="1px" text="1px" />
          <option value="2px" text="2px" />
          <option value="3px" text="3px" />
          <option value="4px" text="4px" />
          <option value="5px" text="5px" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedBorderStyle" name="Selected Response Border Style" type="string" mode="static">
        <description><![CDATA[
          The style of the border around the selected responses
        ]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responseSelectedShadow" name="Selected Response Drop Shadow" type="string" mode="static">
        <description><![CDATA[
          The visibility of a dropshadow under the selected responses
        ]]></description>
        <value><![CDATA[none]]></value>
        <options>
          <option value="0px 2px 3px 0px rgba(0,0,0,0.75)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
    </category>
    <category id="images" name="Images">
      <property xsi:type="standardProperty" id="autoImageSize" name="Force image to fit" type="boolean" mode="static">
        <description><![CDATA[
          If response height or width is forced then image will be resized to fit within container. If on this will override image resizeing rules
        ]]></description>
        <value><![CDATA[false]]></value>
      </property>
      <property xsi:type="standardProperty" id="maxImageWidth" name="Max Image Width" type="number" mode="static">
        <description><![CDATA[
          Set max image width
        ]]></description>
        <value><![CDATA[100px]]></value>
      </property>
      <property xsi:type="standardProperty" id="maxImageHeight" name="Max Image Height" type="number" mode="static">
        <description><![CDATA[
          Set max image height
        ]]></description>
        <value><![CDATA[100px]]></value>
      </property>
      <property xsi:type="standardProperty" id="forceImageSize" name="Force image size" type="string" mode="static">
        <description><![CDATA[
          Force height or width for all images
        ]]></description>
        <value><![CDATA[width]]></value>
        <options>
          <option value="no" text="No" />
          <option value="width" text="Force width" />
          <option value="height" text="Force height" />
          <option value="both" text="Force both" />
        </options>
      </property>
    </category>
    <category id="target" name="Target area">
      <property xsi:type="standardProperty" id="targetAreaWidth" name="Target Area Width" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[This sets the width of the target area]]></description>
        <value><![CDATA[50%]]></value>
      </property>
      <property xsi:type="standardProperty" id="useAltCircle" name="Use alt circle colour" type="boolean" mode="static">
        <description><![CDATA[
          If response height or width is forced then image will be resized to fit within container. If on this will override image resizeing rules
        ]]></description>
        <value><![CDATA[false]]></value>
      </property>
      <property xsi:type="standardProperty" id="circleColour" name="Circle background colour" type="color" mode="static">
        <description><![CDATA[
          Primary colour of the selected item
        ]]></description>
        <value><![CDATA[0,147,234]]></value>
      </property>
      <property xsi:type="standardProperty" id="circleBorderColour" name="Circle Border Colour" type="color" mode="static">
        <description><![CDATA[
          Border colour for selected responses
        ]]></description>
        <value><![CDATA[161,167,173]]></value>
      </property>
      <property xsi:type="standardProperty" id="altCircleColour" name="Alt circle background colour" type="color" mode="static">
        <description><![CDATA[
          Secondary colour of the selected item
        ]]></description>
        <value><![CDATA[0,124,196]]></value>
      </property>
      <property xsi:type="standardProperty" id="altCircleBorderColour" name="Alt Circle Border Colour" type="color" mode="static">
        <description><![CDATA[
          Border colour for selected responses
        ]]></description>
        <value><![CDATA[161,167,173]]></value>
      </property>
      <property xsi:type="standardProperty" id="circleHoverColour" name="Circle Hover Colour" type="color" mode="static">
        <description><![CDATA[
          Border colour for selected responses
        ]]></description>
        <value><![CDATA[161,167,173]]></value>
      </property>
      <property xsi:type="standardProperty" id="circleBorderWidth" name="Circle border thickness" type="string" mode="static">
        <description><![CDATA[
          Force height or width for all images
        ]]></description>
        <value><![CDATA[width]]></value>
        <options>
          <option value="none" text="None" />
          <option value="1px" text="1px" />
          <option value="2px" text="2px" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="scaleMin" name="Scale Minimum" type="number" mode="static">
        <description><![CDATA[
          The bottom end of the scale
       ]]></description>
        <value><![CDATA[1]]></value>
      </property>
      <property xsi:type="standardProperty" id="scaleMax" name="Scale Maximum" type="number" mode="static">
        <description><![CDATA[
          The top end of the scale
       ]]></description>
        <value><![CDATA[5]]></value>
      </property>
      <property xsi:type="standardProperty" id="innerCircleWidth" name="Inner Circle Width" type="number" mode="static">
        <description><![CDATA[
          The width of the center circle CHECK OR SET
       ]]></description>
        <value><![CDATA[150]]></value>
      </property>
      <property xsi:type="standardProperty" id="innerCircleColour" name="Inner Circle Colour" type="color" mode="static">
        <description><![CDATA[
          Border colour for selected responses
        ]]></description>
        <value><![CDATA[0,147,234]]></value>
      </property>
      <property xsi:type="standardProperty" id="innerCircleText" name="Inner Circle Text" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[This sets the width of the target area]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="innerCircleTextColour" name="Inner Circle Text Colour" type="color" mode="static">
        <description><![CDATA[
          Inner circle text colour
        ]]></description>
        <value><![CDATA[0,0,0]]></value>
      </property>
      <property xsi:type="standardProperty" id="innerCircleImage" name="Inner Circle Image" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[This sets the width of the target area]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="innerCircleImageWidth" name="Inner Circle Image Width" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[This sets the width of the target area]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="innerCircleImageHeight" name="Inner Circle Image Height" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[This sets the width of the target area]]></description>
        <value></value>
      </property>
    </category>
    <category id="startArea" name="Start area">
      <property xsi:type="standardProperty" id="startAreaWidth" name="Start Area Width" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[When set this will force the width of the reponses]]></description>
        <value><![CDATA[50%]]></value>
      </property>
      <property xsi:type="standardProperty" id="startAreaColourPrimary" name="Start Area Colour Primary" type="color" mode="static">
        <description><![CDATA[
          Primary colour of the selected item
        ]]></description>
        <value><![CDATA[0,147,234]]></value>
      </property>
      <property xsi:type="standardProperty" id="startAreaColourSecondary" name="Start Area Colour Primary" type="color" mode="static">
        <description><![CDATA[
          Primary colour of the selected item
        ]]></description>
        <value><![CDATA[0,147,234]]></value>
      </property>
      <property xsi:type="standardProperty" id="startAreaBorderColour" name="Start Area Colour Primary" type="color" mode="static">
        <description><![CDATA[
          Primary colour of the selected item
        ]]></description>
        <value><![CDATA[0,147,234]]></value>
      </property>
      <property xsi:type="standardProperty" id="startAreaBorderThickness" name="Start Area Border Thickness" type="string" mode="static">
        <description><![CDATA[
          The thickness of the border around the selected responses
        ]]></description>
        <value><![CDATA[1px]]></value>
        <options>
          <option value="none" text="None" />
          <option value="1px" text="1px" />
          <option value="2px" text="2px" />
          <option value="3px" text="3px" />
          <option value="4px" text="4px" />
          <option value="5px" text="5px" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="startAreaBorderStyle" name="Start Area Border Style" type="string" mode="static">
        <description><![CDATA[
          The style of the border around the selected responses
        ]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="startAreaBorderRadius" name="Start Area Border Radius" type="string" mode="static">
        <description><![CDATA[
          The amount of curve on the response corners
        ]]></description>
        <value><![CDATA[2px]]></value>
        <options>
          <option value="0px" text="0" />
          <option value="2px" text="2" />
          <option value="5px" text="5" />
          <option value="10px" text="10" />
          <option value="15px" text="15" />
          <option value="20px" text="20" />
          <option value="25px" text="25" />
          <option value="30px" text="30" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="startAreaShadow" name="Start area shadow" type="string" mode="static">
        <description><![CDATA[
          The visibility of a dropshadow under the selected responses
        ]]></description>
        <value><![CDATA[none]]></value>
        <options>
          <option value="0px 2px 3px 0px rgba(0,0,0,0.75)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
    </category>
    <category id="layout" name="Layout">
      <property xsi:type="standardProperty" id="targetHorizontalPosition" name="Target horizontal position" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[The amount of curve on the response corners]]></description>
        <value><![CDATA[right]]></value>
        <options>
          <option value="left" text="left" />
          <option value="right" text="right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="targetVerticalPosition" name="Target vertical position" type="string" mode="static">
        <description><![CDATA[
          The amount of curve on the response corners
        ]]></description>
        <value><![CDATA[bottom]]></value>
        <options>
          <option value="top" text="top" />
          <option value="bottom" text="bottom" />
        </options>
      </property>
    </category>
    <category id="numericQuestion" name="Numeric question">
      <property xsi:type="standardProperty" id="unitStep" name="Step for numeric" type="number" mode="static">
        <description><![CDATA[
          Using HTML 5, in modern browser.
          Indicates the unit to increment or decrement the number using the stepper.
       ]]></description>
        <value><![CDATA[1]]></value>
      </property>
    </category>
    <category id="openQuestion" name="Open-ended question">
      <property xsi:type="standardProperty" id="multiline" name="Multi-line text" type="boolean" mode="static">
        <description><![CDATA[
          Allow multi-line text for open-ended question.
          Only when sub-type is text.
       ]]></description>
        <value><![CDATA[false]]></value>
      </property>
      <property xsi:type="standardProperty" id="opensubtype" name="Open-ended sub-type" type="string" mode="static">
        <description><![CDATA[
          Using HTML 5, in modern browser.
          Define a sub-type for open-ended question.
       ]]></description>
        <value><![CDATA[text]]></value>
        <options>
          <option value="text" text="Text" />
          <option value="email" text="Email" />
          <option value="url" text="URL" />
          <option value="color" text="Color" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="datalist" name="Data list" type="string" mode="dynamic">
        <description><![CDATA[
          Using HTML 5, in modern browser.
          Add an auto-completion with the terms in the specified list.
          Only available on single line.
          Use a pipe `|` separators between each terms
       ]]></description>
        <value></value>
      </property>
    </category>
  </properties>
</control>